Source: khotkeys
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12),
               dbus-x11,
               debhelper (>= 9),
               extra-cmake-modules (>= 5.17.0~),
               kinit-dev (>= 5.17.0~),
               kio-dev (>= 5.17.0~),
               libkf5dbusaddons-dev (>= 5.17.0~),
               libkf5globalaccel-dev (>= 5.17.0~),
               libkf5i18n-dev (>= 5.17.0~),
               libkf5kcmutils-dev (>= 5.17.0~),
               libkf5kdelibs4support-dev (>= 5.17.0~),
               libkf5xmlgui-dev (>= 5.17.0~),
               libqt5x11extras5-dev (>= 5.4.0~),
               libx11-dev,
               pkg-kde-tools (>= 0.15.18~),
               plasma-framework-dev (>= 5.17.0~),
               plasma-workspace-dev (>= 4:5.5.1.1~),
               qtbase5-dev (>= 5.4)
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/kde/workspace/khotkeys
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/plasma/khotkeys.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/khotkeys.git

Package: khotkeys-dev
Section: devel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kde-workspace-dev
Replaces: kde-workspace-dev
Description: configure input actions settings
 Configure input actions settings in Plasma.
 .
 KHotKeys is part of the KDE Plasma desktop.
 .
 This package contains the development files.

Package: khotkeys
Architecture: any
Depends: khotkeys-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: configure input actions settings
 Configure input actions settings in Plasma.
 .
 KHotKeys is part of the KDE Plasma desktop.
 .
 This package contains the runtime files.

Package: khotkeys-data
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: ${kde-l10n:all}
Replaces: ${kde-l10n:all}
Description: configure input actions settings
 Configure input actions settings in Plasma.
 .
 KHotKeys is part of the KDE Plasma desktop.
 .
 This package contains the translations and other
 data files.

Package: khotkeys-dbg
Section: debug
Priority: extra
Architecture: any
Depends: khotkeys (= ${binary:Version}), ${misc:Depends}
Recommends: qtbase5-dbg
Description: configure input actions settings
 Configure input actions settings in Plasma.
 .
 KHotKeys is part of the KDE Plasma desktop.
 .
 This package contains the debugging symbols.
